{% block list %}
    {% if items is defined %}
        <ul>
            {% for item in items %}
                <li><a href="{{ item.url }}">{{ item.name }}</a> price: {{ item.price|sample }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}